@import "tailwindcss";

@font-face {
  font-family: "Marvel";
  src: url("../public/fonts/marvel-font/MarvelRegular-Dj83.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  text-rendering: optimizeLegibility;
}
